## Soal 1 (Bobot: 30)

Buatlah sebuah sql query untuk membuat sebuah tabel bernama MENU yang berisi informasi tentang NAMA, JENIS (makanan atau minuman), dan HARGA.

import pymysql<br>

<font color=green>#open database connection</font><br>
db = pymysql.connect("localhost", "testuser", "test123", "TESTDB")<br>

<font color=green>#prepare a cursor object using cursor() method</font><br>
cursor = db.cursor()<br>

<font color=green>#drop table if it already exist using execute() method</font><br>
cursor.execute("DROP TABLE IF EXIST MENU")<br>

<font color=green>#your sql query</font><br>
<font color=red>sql = "....."</font><br>

<font color=green>#execute SQL query using execute() method</font><br>
cursor.execute(sql)<br>

<font color=green>#disconnect from server</font><br>
db.close()<br>

<font color=red>Tulis jawaban anda di bawah!</font>

In [2]:
import pymysql

## Soal 2 & 3

<img src="menu.png">
<h3><center>Tabel MENU</center></h3>

Buatlah sql query untuk melakukan select data dari tabel MENU yang jenisnya merupakan makanan. (Bobot: 35)

<font color=red>Tulis jawaban anda di bawah!</font>

...

Buatlah sql query untuk melakukan select data dari tabel MENU yang merupakan variasi dari olahan nasi. (Bobot: 35)

<font color=red>Tulis jawaban anda di bawah!</font>

 ...