Perhatikan tabel data umur di bawah ini!

    Age
0    20
1    25
2    23
3    29
4    30
5    19
6    28
7    31
8    25
9    24
10   22
11   19
12   45
13   21
14   50
15   37
16   20
17   25
18   30
19   27

<ol>
<li>Menurut anda metode (mean, modus, median) manakah yang sesuai untuk menghitung <i>Central Tendency</i> dari data di atas? Berikan penjelasan mengapa anda memilih metode tersebut? <b>(40 point)</b></li>
</ol>

<ol start=2>
<li>Hitunglah standar deviasi dari data di atas! Menurut anda apakah data di atas bedistribusi normal atau tidak? Jelaskan argumen anda! <b>(30 point)</b></li>
</ol>

Perhatikan kedua matriks di bawah ini!

In [0]:
A = np.random.randint(1, 10, (5,5))
A

array([[8, 2, 6, 4, 1],
       [7, 1, 1, 4, 2],
       [8, 6, 6, 6, 2],
       [4, 4, 2, 7, 5],
       [7, 4, 3, 2, 5]])

In [0]:
B = np.random.randint(1, 10, (5,5))
B

array([[8, 7, 1, 2, 8],
       [4, 3, 7, 6, 1],
       [1, 3, 8, 4, 4],
       [3, 8, 2, 1, 3],
       [8, 6, 3, 7, 7]])

<ol start=3>
<li>Tentukan hasil dari (2A.B)^-1! <b>(30 point)</b></li>
</ol>